:root{
    --terra-bg: radial-gradient(rgb(21, 18, 36) 30%, rgb(18, 20, 48) 95%);
    --scroll-bg: rgb(9, 3, 37);
    --light-blue-color: rgb(0, 238, 255);
    --dark-blue-color: rgb(28, 109, 202);
}

@font-face {
    font-family: 'titulo';
    src: url(fonts/Guardians.ttf);
}
@font-face {
    font-family: 'norm';
    src: url(fonts/Roboto-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'norm';
    word-spacing: 5px;
}

/* DEBUG */
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */
/* DEBUG */

html {
    min-height: 100vh;
}
body {
    min-height: 100vh;
}

/* .edit1{
    border: 1px solid red;
}
.edit2{
    border: 1px solid green;
}
.edit3{
    border: 1px solid white;
}
.edit4{
    border: 1px solid yellow;
}
.edit5{
    border: 1px solid magenta;
} */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: var(--scroll-bg);
    /* box-shadow: inset 0 0 5px grey;  */
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 1px solid var(--dark-blue-color);
    border-radius: 5px;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(23, 57, 151, 0.5) 65%);
    box-shadow: 0px 0px 5px 2px var(--dark-blue-color) inset;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-image: radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(33, 182, 241, 0.665) 65%);
}

.hud-bg{
    background-color: black;
    padding-bottom: 7vw;
}

.terra{
    width: 100%;
    height: 100%;
    background-image: var(--terra-bg);
}

.pagination-container {
    width: 100%;
    margin: 0px !important;
}

.titulo{
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'titulo';
}
.conteudo{
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    .titulo{
        font-size: 30px;
    }
    .conteudo{
        font-size: 0.9rem;
    }
}

.menu-btn{
    display: inline;
    text-align: center;
    background: none;
    color: var(--light-blue-color);
    border: 1px solid var(--dark-blue-color);
    border-radius: 5px;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(23, 57, 151, 0.5) 65%);
    box-shadow: 0px 0px 5px 2px var(--dark-blue-color) inset;
}
.menu-font-color{
    color: var(--light-blue-color);
}
.pagination-btn{
    padding: 0px 25px;
    margin: 10px 5px;
}

.config-btn{
    padding: 5px 12px;
    border-radius: 100%;
}

.page-input{
    width: 10%;
    min-width: 70px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.baar{
    margin-top: -6%;
    z-index: 2;
    position: absolute;
}

.modal-options-style{
    border: 1px solid var(--dark-blue-color);
}

.bk-midle{
    background-image: radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(30, 48, 95, 0.5) 95%);
    border-radius: 20px;
}

.speak{
    background-image: radial-gradient(rgba(21, 18, 36, 0.5) 30%, rgba(66, 11, 80, 0.5) 65%);
    box-shadow: 0px 0px 20px 10px rgb(66, 11, 80) inset;
    border-radius: 10px;
}

.speak1{
    background-image: radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(121, 76, 17, 0.5) 65%);
    box-shadow: 0px 0px 20px 10px rgb(121, 76, 17) inset;
    border-radius: 10px;
}